[submodule "modules/AttentionMap"]
	path = modules/AttentionMap
	url = git@github.com:SolidusAbi/AttentionMap.git
[submodule "modules/Sparse"]
	path = modules/Sparse
	url = git@github.com:SolidusAbi/Sparse.git
